# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm/

# Yarn integrity file
.yarn-integrity

# IDE and editor files
.vscode/
.idea/

